.earth {
    background-image: url('../../assets/image2.jpg');
    animation: animateEarth 15s linear infinite;
}

.custom-shadow {
    box-shadow: 0 0 50px #4069ff;
}

@keyframes animateEarth {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -750px 0;
    }
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
}

.cursor {
    z-index: 999;
    position: absolute;
    background: #e733b1;
    opacity: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    pointer-events: none;
    /* box-shadow: */
    /* 0 0 10px #e311ab,
        0 0 20px #e311ab,
        0 0 50px #e311ab; */
    animation: 10s infinite;
    transform: translate(-50%, -50%);
}

@keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }
    25%{
        filter: hue-rotate(90deg);
    }
    50%{
        filter: hue-rotate(0deg);
    }
    75%{
        filter: hue-rotate(90deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.cursor:before {
    content: '';
    position: absolute;
    background: #122de0;
    /* width: 30px;
    height: 30px; */
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 50% 50% 50% 50%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
    animation: 10s colors infinite; 
}
.circle:active {
    background-color: black;
}
