.earth {
    background-image: url('../../assets/image2.jpg');
    animation: animateEarth 15s linear infinite;
}

.custom-shadow {
    box-shadow: 0 0 50px #4069ff;
}

@keyframes animateEarth {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -750px 0;
    }
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
}

.cursor {
    z-index: 999;
    position: absolute;
    background: #e733b1;
    opacity: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    pointer-events: none;
    /* box-shadow: */
    /* 0 0 10px #e311ab,
        0 0 20px #e311ab,
        0 0 50px #e311ab; */
    animation: 10s infinite;
    transform: translate(-50%, -50%);
}

@keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.cursor:before {
    content: '';
    position: absolute;
    background: #122de0;
    /* width: 30px;
    height: 30px; */
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 50% 50% 50% 50%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
    animation: 10s colors infinite; 
}

/* .snowflake {
    position: fixed;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    pointer-events: none;
    z-index: 99999999;
}

.snowflake::before, 
.snowflake::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 24px;
    background-color: black;
    transform-origin: center center;
}

.snowflake::before {
    transform: translate(-50%, -50%) rotate(0deg);
}

.snowflake::after {
    transform: translate(-50%, -50%) rotate(60deg);
}

.snowflake::before::before,
.snowflake::before::after,
.snowflake::after::before,
.snowflake::after::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 24px;
    background-color: black;
    transform-origin: center center;
}

.snowflake::before::before {
    transform: translate(-50%, 0) rotate(60deg);
}

.snowflake::before::after {
    transform: translate(-50%, 0) rotate(-60deg);
}

.snowflake::after::before {
    transform: translate(-50%, 0) rotate(60deg);
}

.snowflake::after::after {
    transform: translate(-50%, 0) rotate(-60deg);
} */
